body {
    font-family: Arial;
}

img {
    height: 180px;
    width: 150px;
    margin-top: 20px;
    border-radius: 15px;
}

ul.sidebyside {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #5c573e;
    border-radius: 15px;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

ul.sidebyside li {
    float: right;
}

ul.sidebyside li a.active {
    background-color: #a5b452;
}

ul.sidebyside li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}



.rect {
    height: 400px ;
    float: left;
    width: 650px;
    margin-left: 100px;
    background: #C8D96F;
    color: black;
    text-align: center;
    border-radius: 15px;
}
.rect:hover {
    background-color: #C4F7A1;
  }

.rect2 {
    height: 400px ;
    float: left;
    width: 650px;
    margin-left: 50px;
    margin-top: 100px;
    background: #9BA7C0;
    color: black;
    text-align: center;
    border-radius: 15px;
}



  .rect2:hover {
    background-color: #BFA6b8;
  }

.rect2right {
    height: 200px ;
    float: left;
    width: 550px;
    margin-left: 50px;
    margin-top: 30px;
    color: black;
    text-align: center;
}



@media only screen and (max-width: 800px) {
    .rect2 {
      flex-flow: column;
      align-items: center;
      margin-left: 100px;
    }
  }

.largefont h1 {
    font-size: 2000px;
}

.smiley {
    color: #C8D96F;
    font-size: 40px;
}
.facts {
    color: #C8D96F;
    font-size: 20px;

}

.facts:hover {
    color: #5c573e;
    font-style: italic;
  }
